.img-wrap {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 60px auto;
}

.img-wrap .mag-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 0 3px #ddd;
  overflow: hidden;
}

.img-wrap .mag-wrap.show {
  display: block;
  transform: scale(1.5);
}

.img-wrap .mag-wrap .mag-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

.img-wrap .static-img {
  width: 800px;
  height: 600px;
}